body {
  background-color: #f2f2f2;
}

/****** fade-in effect ******/
html {
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
}
html, body {
    min-height: 100%;
}
html.loading {
    background-color: white;
    background-image: url("/img/load.gif");
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    -webkit-transition: background-color 0;
    transition: background-color 0;
}
body {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}
html.loading body {
    opacity: 0.5;
    -webkit-transition: opacity 0;
    transition: opacity 0;
}

#loadingpage {
    width: 100%;
    height: 10000px;
    background-color: white;
    display: block;
    z-index: 99;
}

#loading-image {
    width: 200px;
    position: absolute;
    top: 40%;
    left: 40%;
    z-index: 100;
}

/****** header part - fullsize view ******/

header {
  background-image: url("/img/white-bg.png");
  background-repeat: no-repeat;
  background-position: center; 
}

#tablet-header, #mobile-header {display: none;}
#large-header {display: block;}
#tablet-carousel {display: none;}
#tablet-self-intro {display: none;}
#self-mobile {display: none;}
.self-mobile-div {display: none; }
.musthidden {visibility: hidden; }

.large-nav {
  background-color: #737373;
  height: 70px;
  padding-left: 0;
  margin-bottom: 10px;
  list-style: none;
  z-index: 1;
}

.large-nav-ul {
  list-style-type: disc;
  position: absolute;
  right: 2%;
}

.large-nav-ul > li {
  background-color: #737373;
  text-align: center;
  line-height: 70px;
  height: 70px;
  width: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 15px;
  margin-left: 15px;;
  border-radius: 50px;
  display: inline-block;
}

.large-nav-ul > li > a {
  text-decoration: none;
  font-family: 'Parisienne', cursive;
  font-size: 180%;
  color: white;
}


#large-heading-content {
  position: relative;
  bottom: 21px;
  display: block;
  width: 100%;
  height: 240px;
  font-family: 'Lora', serif;
}

#large-heading-content > h1, #large-heading-content > h2, #large-heading-content > p{
  text-align: center;
  position: relative;
  top: 60px;
}

#large-heading-content > h1 {font-size: 33pt;}
#large-heading-content > h2 {font-size: 24pt;}
#large-heading-content > p {font-size: 18pt;}

.needmargin {margin-top:60px;}

.myname {
  font-family: 'Tangerine';
  font-weight: bold;
  font-size: 36pt;
}

#index-self-intro {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

/****** content part - fullsize view ******/
.content {
  display: block;
  width: 100%;
}

#welcomeline {
  font-size: 20pt;
}

.project-content {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.home-content {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 70%;
}

.hobby-content {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.contact-content {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.home-content > p,
.hobby-content > div > a > p, .hobby-content > div > a > div > p,
.project-content > p, .project-content > ul > li,  .project-content > ul > ul,
.contact-content > p {
  text-decoration: none;
  font-size: 16pt;
  font-family: "Lora";
}

.imgtitle {text-align: center; margin-left: auto; margin-right: auto;}

.hobby-content > div > a {text-decoration: none;}

.hobbyimg {height: 200px; margin-bottom: 40px; display: block; margin-left: auto; margin-right: auto;}

#info-cooking, #info-ukulele, #info-travel, #info-badminton, #info-minecraft, #info-wow, 
#info-hearthstone, #info-hyouka, #info-lovelive {
  display: none;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  bottom: 175px;
  color: black;
}

.hobbydiv {
  height: 290px;
}


#contact-info {
  font-size: 12pt;
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 20px;
  margin-left: 6%;
  margin-right: 6%;
  font-family: 'Lora';
}


#yourname, #yourmesg, #yourmail {
  width: 150px;
}

#mesginput {
  height: 200px;
}

#map {
  width: 300px;
  height: 300px;
}

#map > iframe {
  width: 300px;
  height: 300px;
  frameborder: 0;
  border: 0;
}

.mylocation {
  padding-top: 20px;
  display: inline-block;
  margin-left: 10%;
}


.glyphicon {
  padding-right: 10px;
}

/****** footer part - fullsize view ******/

footer {
  width: 100%;
  background-color: #737373;
}

.copyright {
  text-align: right;
  padding-right: 70px;
  padding-bottom: 10px;
  color: white;
  font-family: 'Lora', serif;
}

.footer-media {
  padding-top: 15px;
  padding-right: 50px;
  text-align: right;
}

.footer-media > ul > li {
  display: inline-block;
  padding-left: 15px;
}


.btn-social-icon{
  position:relative;
  height:36px;
  width:36px;
  padding:0;
}

.btn-social-icon > i{
  width:34px;
  line-height:36px;
  font-size:130%;
  text-align:center;
}

.btn-facebook {color: #ffffff;background-color: #3b5998;}
.btn-facebook:hover {color: #ffffff;background-color: #2d4373;}

.btn-twitter {color:#ffffff;background-color:#55acee;}
.btn-twitter:hover {color:#ffffff;background-color:#2795e9;}

.btn-linkedin {color:#ffffff;background-color:#007bb6;}
.btn-linkedin:hover {color:#ffffff;background-color:#005983;}

.btn-github {color: #ffffff;background-color: #444444;}
.btn-github:hover {color:#fff;background-color:#2b2b2b;}


#large-carouse {
  height: 400px;
  width: 100%;

}

#carousel-inner-large > .item > img,
#carousel-inner-large > .item > a > img {
    max-width: 70%;
    max-height: 400px;
    height: 400;
    margin: auto;
 }

/****** tablet view ******/

@media only screen and (min-width: 768px) and (max-width: 992px){
  #large-header, #mobile-header {display: none;}
  #tablet-header {display: block;}
  #large-carouse {display: none;}
  #tablet-heading-content > h1 {margin-top: 20px;}

  header {
    position: relative;
    bottom: 21px;
  }

  #tablet-heading-content {
    display: block;
    width: 100%;
    height: 150px;
    font-family: 'Lora', serif;
  }

  #tablet-heading-content > h1, #tablet-heading-content > h2, #tablet-heading-content > p{
    text-align: center;
    position: relative;
    top: 40px;
  }

  #tablet-heading-content > h1 {font-size: 33pt;}
  #tablet-heading-content > h2 {font-size: 24pt;}
  #tablet-heading-content > p {font-size: 18pt;}


  .tablet-nav {
    background-color: #737373;
    height: 30px;
    padding-left: 0;
    list-style: none;
    z-index: 1;
  }

  .tablet-nav-ul {
    position: relative;
    bottom: 30px;
    text-align: center;
  }
  .tablet-nav-ul > li {
    background-color: #737373;
    text-align: center;
    line-height: 70px;
    height: 70px;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 25px;;
    border-radius: 50px;
    display: inline-block;
  }
  .tablet-nav-ul > li > a {
    text-decoration: none;
    font-family: 'Parisienne', cursive;
    font-size: 180%;
    color: white;
  }

  .content {
    margin-top: 40px;
    margin-right: 30px;
  }

  #tablet-self-intro {
    margin-top: 150px;
    margin-left: 3%;
    margin-right: 5%;
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    font-family: 'Lora';
    font-size: 18pt;
  }

  #welcomeline {
    font-size: 20pt;
  }

  #tablet-carousel {
    display: inline-block;
    width: 350px;
  }

  #tablet-carousel > .carousel-control { height: 80%; top:10%;}
  #carousel-inner-tablet > .item > img,
  #carousel-inner-tablet > .item > a > img {
      height: 400px;
      margin: auto;
      border-radius: 30px;
   }

  .copyright {
    text-align: center;
    padding-right: 0px;
  }

  .footer-media {
    padding-right: 40px;
    text-align: center;
  }

}

/****** mobile view ******/

@media only screen and (max-width: 768px){
  #large-header, #tablet-header {display: none;}
  #mobile-header {display: block;}
  #large-carouse {display: none;}
  #self-mobile {display: block; width: 80%; display: block; margin-left: auto; margin-right: auto;}
  #mobile-heading-content > h1 {margin-top: 20px;}
  .mylocation {margin-left: 0px;}
  .self-mobile-div {display: block; text-align: center; }

  header {
    position: relative;
    bottom: 21px;
    height: 150px;
  }

  .self-mobile-div > p {
    font-family: 'Lora';
    font-size: 16pt;
  }


  #mobile-heading-content {
    display: block;
    width: 100%;
    height: 150px;
    font-family: 'Lora', serif;
  }

  #mobile-heading-content > h1, #mobile-heading-content > h2, #mobile-heading-content > p{
    text-align: center;
    position: relative;
    top: 40px;
  }

  #mobile-heading-content > h1 {font-size: 33pt;}
  #mobile-heading-content > h2 {font-size: 24pt;}
  #mobile-heading-content > p {font-size: 18pt;}

  .mobile-nav-ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
    font-family: 'Lora';
    background-color: #737373;
  }

  .mobile-nav-ul > li > a {
    color: white;
  }

  .copyright {
    text-align: center;
    padding-right: 0px;
  }

  .footer-media {
    padding-right: 40px;
    text-align: center;
  }

  .dropbtn {
    z-index: 1;
    position: absolute;
    top: -65px;
    left: 0px;
    height: 100px;
    width: 100px;
    border: none;
    cursor: pointer;
    margin-left:0;
  }

  .movedropbtn {
    left: 200px !important;
  }

  .dropdown {
      position: relative;
      display: inline-block;
  }

  .dropdown-content {
    z-index: 1;
    display: none;
    position: absolute;
    top: -50px;
    background-color: #f9f9f9;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  .show {
    display:block;
  }

  .black-line {
    position: relative;
    bottom: 10px;
    width: 95%;
    height: 20px;
    background-color: #888888;
    float: right;
  }


}