<!DOCTYPE html>
<html lang="en" class="loading">
<head>

	<meta charset="UTF-8">
	<title>Zunyu Chen - {{title_name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
	<!-- Self designed CSS -->
	<link rel="stylesheet" type="text/css" href="/static/mainstyle.css">
	<!-- font -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/font-awesome-4.5.0/css/font-awesome.min.css">

	<!-- JavaScript -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/mainscript.js"></script>

	

	
</head>

<body>
	<!-- Loading gif -->

	<header id="large-header">
		
		<nav class="nav">
			<ul class="large-nav-ul">
				<li id="nav-home"><a href="/index.html">Home</a></li>
				<li id="nav-hobby"><a href="/hobby.html">Hobby</a></li>
				<li id="nav-project"><a href="/project.html">Project</a></li>
				<li id="nav-contact"><a href="/contact.html">Contact</a></li>

				<style type="text/css">
				{% if title_name == "HOME" %}
					#nav-home {font-weight: bold; font-size: 120%;}
				{% endif %}
				{% if title_name == "HOBBY" %}
					#nav-hobby {font-weight: bold; font-size: 120%;}
				{% endif %}
				{% if title_name == "PROJECT" %}
					#nav-project {font-weight: bold; font-size: 120%;}
				{% endif %}
				{% if title_name == "CONTACT" %}
					#nav-contact {font-weight: bold; font-size: 120%;}
				{% endif %}
				</style>
			</ul>
		</nav>
		<div id="heading-content">
			{% block heading %}
			Never see.
			{% endblock %}
		</div>
		

	</header>

	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item active">
				<img src="/img/Planet_scenery.png" alt="...">
				<div class="carousel-caption">
						<!-- <h3>Caption Text</h3> -->
				</div>
			</div>
			<div class="item">
				<img src="/img/Planet_scenery.png" alt="...">
				<div class="carousel-caption">
						<!-- <h3>Caption Text</h3> -->
				</div>
			</div>
			<div class="item">
				<img src="/img/Planet_scenery.png" alt="...">
				<div class="carousel-caption">
						<!-- <h3>Caption Text</h3> -->
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div>
	
	<div class="content">
		

		{% block content %}
		Never see.
		{% endblock %}
	</div>


	<footer>
		<div class="footer-media">
			<ul>
				<li>
					<a class="btn btn-social-icon btn-facebook">
    					<i class="fa fa-facebook"></i>
  					</a>
				</li>
				<li>
					<a class="btn btn-social-icon btn-linkedin">
    					<i class="fa fa-linkedin"></i>
  					</a>
				</li>
				<li>
					<a class="btn btn-social-icon btn-twitter">
    					<i class="fa fa-twitter"></i>
  					</a>
				</li>
				<li>
					<a class="btn btn-social-icon btn-github">
    					<i class="fa fa-github"></i>
  					</a>
				</li>
			</ul>
		</div>
		<p class="copyright">Copyright &copy; Zunyu Chen</p>
	</footer>
</body>
</html>