<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Zunyu Chen - {{title_name}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- CSS -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<!-- Self designed CSS -->
	<link rel="stylesheet" type="text/css" href="/static/mainstyle.css">
	<!-- font -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
	<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet' type='text/css'>

	<!-- JavaScript -->
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/static/mainscript.js"></script>
	

	
</head>

<body>
	<!-- Loading gif -->
	<script type="text/javascript">
		window.onload = function(){ 
			document.getElementById("loading").style.display = "none"
		}
	</script>

	<div id="loading">
		<img id="loading-image" src="img/loading.gif" alt="Loading..." />
	</div>


	<header id="large-header">
		
		<nav class="nav">
			<ul class="large-nav-ul">
				<li id="nav-home"><a href="/index.html">Home</a></li>
				<li id="nav-course"><a href="/course.html">Course</a></li>
				<li id="nav-project"><a href="/project.html">Project</a></li>
				<li id="nav-contact"><a href="/contact.html">Contact</a></li>

				<style type="text/css">
				{% if title_name == "HOME" %}
					#nav-home {font-weight: bold; font-size: 120%;}
				{% endif %}
				{% if title_name == "COURSE" %}
					#nav-course {font-weight: bold; font-size: 120%;}
				{% endif %}
				{% if title_name == "PROJECT" %}
					#nav-project {font-weight: bold; font-size: 120%;}
				{% endif %}
				{% if title_name == "CONTACT" %}
					#nav-contact {font-weight: bold; font-size: 120%;}
				{% endif %}
				</style>
			</ul>
		</nav>
		<div id="heading-content">
			{% block heading %}
			Never see.
			{% endblock %}
		</div>

	</header>


	<div class="content">
		{% block content %}
		Never see.
		{% endblock %}
	</div>


	<footer>
		<p>Copyright &copy; Zunyu Chen - University of Michigan</p>
		<p><a href="http://eecs.umich.edu">EECS @ UMich</a>.
		</p>
	</footer>
</body>
</html>