{% extends "templates/base.html" %}

{% block large_heading %}
<h2>Login</h2>
{% endblock %}

{% block tablet_heading %}
<h1>Hi, I am <span id="myname">Zunyu Chen</span></h1>
{% endblock %}

{% block mobile_heading %}
<h1>Hi, I am <span id="myname">Zunyu Chen</span></h1>
<p id="index-self-intro">I am current a Master student in Electrical and Computer Engineering at University of Michigan.</p>
{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
<p>{{content}}</p>
<form action = "/login" method = "post">
	<label>username: <input type = "text" name = "name"></label><br>
	<label>password: <input type = "password" name = "pw"></label><br>
	<input type = "submit" value = "login">
</form> 
{% endblock %}