{% extends "templates/base.html" %}

{% block large_heading %}
<h2>Hobby</h2>
{% endblock %}

{% block tablet_heading %}
<h1>Hi, I am <span id="myname">Zunyu Chen</span></h1>
{% endblock %}

{% block mobile_heading %}
<h1>Hi, I am <span id="myname">Zunyu Chen</span></h1>
<p id="index-self-intro">I am current a Master student in Electrical and Computer Engineering at University of Michigan.</p>
{% endblock %}

{% block carousel %}
{% endblock %}

{% block content %}
<p>These are some hobby:</p>
<ul>
	<li>XXXXXXX</li>
	<li>XXXXX</li>
	<li>XXXXXX</li>
</ul>
<img src="/static/workhard.png" alt="hard word">
{% endblock %}