{% extends "templates/base.html" %}

{% block large_heading %}
<h1>Hobby</h1>
<style type="text/css">
h1 {margin: 60px;}
</style>
{% endblock %}

{% block tablet_heading %}
<h1>Hobby</h1>
{% endblock %}

{% block mobile_heading %}
<h1>Hobby</h1>
{% endblock %}

{% block large_carousel %}
{% endblock %}

{% block content %}
<div class="hobby-content row">
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-cooking">
		<a href="">
			<p class="imgtitle">cooking</p>
			<img class="hobbyimg" id="cooking" src="/img/cooking.png" alt="cooking">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-ukulele">
		<a href="">
			<p class="imgtitle">ukulele</p>
			<img class="hobbyimg" id="ukulele" src="/img/ukulele.png" alt="ukulele">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-travel">
		<a href="">
			<p class="imgtitle">travel</p>
			<img class="hobbyimg" id="travel" src="/img/travel.png" alt="travel">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-badminton">
		<a href="">
			<p class="imgtitle">badminton</p>
			<img class="hobbyimg" id="badminton" src="/img/badminton.png" alt="badminton">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-minecraft">
		<a href="">
			<p class="imgtitle">minecraft</p>
			<img class="hobbyimg" id="minecraft" src="/img/minecraft.png" alt="minecraft">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-wow">
		<a href="">
			<p class="imgtitle">wow</p>
			<img class="hobbyimg" id="wow" src="/img/wow.png" alt="wow">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-hearthstone">
		<a href="">
			<p class="imgtitle">hearthstone</p>
			<img class="hobbyimg" id="hearthstone" src="/img/hearthstone.png" alt="hearthstone">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-hyouka">
		<a href="">
			<p class="imgtitle">hyouka</p>
			<img class="hobbyimg" id="hyouka" src="/img/hyouka.png" alt="hyouka">
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-lovelive">
		<a href="">
			<p class="imgtitle">lovelive</p>
			<img class="hobbyimg" id="lovelive" src="/img/lovelive.png" alt="lovelive">
		</a>
	</div>
</div>
{% endblock %}