{% extends "templates/base.html" %}

{% block large_heading %}
<h1>Hobby</h1>
<style type="text/css">
h1 {margin: 60px;}
</style>
{% endblock %}

{% block tablet_heading %}
<h1>Hobby</h1>
{% endblock %}

{% block mobile_heading %}
<h1>Hobby</h1>
{% endblock %}

{% block large_carousel %}
{% endblock %}

{% block content %}
<div class="hobby-content row">
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-cooking">
		<a href="">
			<p class="imgtitle">Cooking</p>
			<img class="hobbyimg" id="cooking" src="/img/cooking.png" alt="cooking">
			<div class="imginfo" id="info-cooking"><p>I like to try different cooking styles!</p></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-ukulele">
		<a href="">
			<p class="imgtitle">Ukulele</p>
			<img class="hobbyimg" id="ukulele" src="/img/ukulele.png" alt="ukulele">
			<div class="imginfo" id="info-ukulele"><p>Ukulele is my favorite!</p></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-travel">
		<a href="">
			<p class="imgtitle">Travel</p>
			<img class="hobbyimg" id="travel" src="/img/travel.png" alt="travel">
			<div class="imginfo" id="info-travel"><p>I love travelling around the world!</p></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-badminton">
		<a href="">
			<p class="imgtitle">Badminton</p>
			<img class="hobbyimg" id="badminton" src="/img/badminton.png" alt="badminton">
			<div class="imginfo" id="info-badminton"><p>Badminton is my favorite sports!</p></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-minecraft">
		<a href="">
			<p class="imgtitle">Minecraft</p>
			<img class="hobbyimg" id="minecraft" src="/img/minecraft.png" alt="minecraft">
			<div class="imginfo" id="info-minecraft"><p>I've made a fancy world in minecraft!</p></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-wow">
		<a href="">
			<p class="imgtitle">World of Warcraft</p>
			<img class="hobbyimg" id="wow" src="/img/wow.png" alt="wow">
			<div class="imginfo" id="info-wow"><p>Are you also a WOWer? Join us!</p></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-hearthstone">
		<a href="">
			<p class="imgtitle">Hearthstone</p>
			<img class="hobbyimg" id="hearthstone" src="/img/hearthstone.png" alt="hearthstone">
			<div class="imginfo" id="info-hearthstone"><p>I like to try different cooking styles!</p></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-hyouka">
		<a href="">
			<p class="imgtitle">Hyouka</p>
			<img class="hobbyimg" id="hyouka" src="/img/hyouka.png" alt="hyouka">
			<div class="imginfo" id="info-hyouka"><p>I like to try different cooking styles!</p></div>
		</a>
	</div>
	<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hobbydiv" id="div-lovelive">
		<a href="">
			<p class="imgtitle">Lovelive</p>
			<img class="hobbyimg" id="lovelive" src="/img/lovelive.png" alt="lovelive">
			<div class="imginfo" id="info-ukulele"><p>I </p></div>
		</a>
	</div>
</div>
{% endblock %}