{% extends "templates/base.html" %}


{% block large_heading %}
<h1>Hi, I am <span id="myname">Zunyu Chen</span></h1>
<p id="index-self-intro">I am current a Master student in Electrical and Computer Engineering at University of Michigan.</p>
{% endblock %}


{% block tablet_heading %}
<h1>Hi, I am <span id="myname">Zunyu Chen</span></h1>
{% endblock %}


{% block mobile_heading %}
<h1>Hi, I am <span id="myname">Zunyu Chen</span></h1>
{% endblock %}


{% block large_carousel %}
<div id="large-carouse" class="carousel slide" data-ride="carousel">

	<ol class="carousel-indicators">
		<li data-target="#large-carouse" data-slide-to="0" class="active"></li>
		<li data-target="#large-carouse" data-slide-to="1"></li>
		<li data-target="#large-carouse" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner" id="carousel-inner-large">
		<div class="item active">
			<img src="/img/Planet_scenery.png" alt="...">
		</div>
		<div class="item">
			<img src="/img/Planet_scenery.png" alt="...">
		</div>
		<div class="item">
			<img src="/img/Planet_scenery.png" alt="...">
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#large-carouse" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#large-carouse" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</div>
{% endblock %}


{% block content %}
<section id="tablet-self-intro" class="col-sm-5">
	<p>I am current a Master student in Electrical and Computer Engineering at University of Michigan.</p>
</section>

<section id="tablet-carousel" class="carousel slide" data-ride="carousel">

	<ol class="carousel-indicators">
		<li data-target="#tablet-carousel" data-slide-to="0" class="active"></li>
		<li data-target="#tablet-carousel" data-slide-to="1"></li>
		<li data-target="#tablet-carousel" data-slide-to="2"></li>
	</ol>

	<div class="carousel-inner" id="carousel-inner-tablet">
		<div class="item active">
			<img src="/img/Planet_scenery.png" alt="..." class="tablet-carousel-img">
		</div>
		<div class="item">
			<img src="/img/Planet_scenery.png" alt="..." class="tablet-carousel-img">
		</div>
		<div class="item">
			<img src="/img/Planet_scenery.png" alt="..." class="tablet-carousel-img">
		</div>
	</div>

	<a class="left carousel-control" href="#tablet-carousel" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#tablet-carousel" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right"></span>
	</a>
</section>

<div class="home-content">
<p><br>Welcome to my website!<br><br></p>
<p align="center"><img id="self-mobile" src="/img/self-mobile.png"><br></p>
<p>This is Zunyu Chen. I am a current master student in Electrical and Computer Engineering at University of Michigan.<br><br></p>
</div>
{% endblock %}