{% extends "templates/base.html" %}

{% block heading %}
<h1>Zunyu Chen</h1>
<h2>Home</h2>
{% endblock %}

{% block content %}
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>Welcome to my website!</p>
<p>This is Zunyu Chen. I am a current master student in Electrical and Computer Engineering at University of Michigan.</p>
{% endblock %}