{% extends "templates/base.html" %}

{% block heading %}
<h1>Zunyu Chen</h1>
<h2>Home</h2>
{% endblock %}

{% block navList %}
<ul class="navli">
  <li><a href="/index.html">HOME</a></li>
  <li><a href="/course.html">Course</a></li>
  <li><a href="/project.html">Project</a></li>
  <li><a href="/contact.html">Contact</a></li>
</ul>
{% endblock %}

{% block content %}
<p>Welcome to my website!</p>
<p>This is Zunyu Chen. I am a current master student in Electrical and Computer Engineering at University of Michigan.</p>
{% endblock %}