{% extends "templates/base.html" %}

{% block heading %}
<h2>Project</h2>
{% endblock %}

{% block content %}
<p>These are some projects I did:</p>
<ul>
	<li>Text Retrieval System Based on Vector Space Model</li>
	<ul>
		<li>Designed text tokenizer and other preprocessing fuction in Python.</li>
		<li>Implemented vector space model on documents data and queries.</li>
		<li>Generated precision and recall of the retrieval result.</li>
	</ul><br>
	<li>Multi-threads Disk Scheduler Design</li>
	<ul>
		<li>Designed multi-threads disk scheduler with mutex and conditional variables in C++.</li>
		<li>Set up each thread to deal with requests from one source and 1 thread to service I/O requests in SSTS order.</li>
		<li>Implemented thread library, including thread, mutex, conditional variable.</li>
	</ul><br>
	<li>Design of Zombie Game in Command Line</li>
	<ul>
		<li>Designed a zombie game with priority queue to deal with order of zombies to kill.</li>
		<li>Implemented 4 kinds of priority queue to satisfy different runtime requirement.</li>
	</ul><br>
</ul>
{% endblock %}